.center-element {
    width: 310px;
    margin: auto auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.home{
    
}
.home__link {
    color: white;
}
.home__link:hover {
    opacity: .7;
    transition: .6s;
}

